:root {
    --Blue:#22D3EE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    object-fit: cover;
}


body {
    font-family: 'Roboto',sans-serif;
    background-color: #1E293B;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 120px;
    height: 60px;
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: var(--Blue);
}

.logo i  {
    font-size: 30px;
    color: black;
    color: var(--Blue);
}

.logo h1 {
    font-weight: 700;
    font-size: 25px;
    line-height: 30.16px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 50px;
}

nav li {
    color: #F8FAFC;
    font-weight: 700;
    line-height: 21.13px;
    border-bottom: 2px solid var(--Blue);
}

nav ul li:hover {
        background-color: var(--Blue);
        border: 2px solid #fff;
        padding: 10px;
        color: white;
        transition-duration: 500ms;
}


@media (max-width:260px) {
    
    header {
        padding: 10px 10px ;
    }

    .logo {
        gap: 5px;
    }


    .logo h1  {
        font-size: 12px;
    }

    nav ul {
        gap: 10px;
    }

    nav li {
        font-size: 8px;
    }
}


@media (min-width:261px) and (max-width:320px) {
    header {
        padding: 10px 20px;
    }

    .logo {
        gap: 5px;
    }
    .logo h1 {
        font-size: 15px;
    }

    nav ul {
        gap: 10px;
    }
    nav li {
        font-size: 7px;
    }
}


@media (min-width:321px) and (max-width:360px) {

        header {
                padding: 10px 20px;
            }
        
            .logo {
                gap: 5px;
            }
        
            .logo h1 {
                font-size: 15px;
            }
        
            nav ul {
                gap: 10px;
            }
        
            nav li {
                font-size: 10px;
            }
}

@media (min-width:361px) and (max-width:500px) {

        header {
                padding: 10px 20px;
            }
        
            .logo {
                gap: 5px;
            }
        
            .logo h1 {
                font-size: 15px;
            }
        
            nav ul {
                gap: 10px;
            }
        
            nav li {
                font-size: 9px;
            }
}


@media (min-width:501px) and (max-width:700px) {
        header {
                padding: 10px 20px;
            }
        
            .logo {
                gap: 5px;
            }
        
            .logo h1 {
                font-size: 15px;
            }
        
            nav ul {
                gap: 10px;
            }
        
            nav li {
                font-size: 10px;
            }
}

main {
    margin: 160px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    margin-left: 120px;
}

.hero h2 {
    color: #fff;
    font-weight: 700;
    font-size: 38px;
    line-height: 46.25px;
}

.hero span {
    color: var(--Blue);
}

.hero h5 {
    margin-top: 10px;
    color: #CBD5E1;
    font-weight: 500;
    font-size: 21px;
    line-height: 30.47px;
}

main img {
    margin-right: 120px;
}

.icons01 {
    margin: 20px;
}

.icons01 i {
    font-size: 2em;
    margin-left: 30px;
    color: var(--Blue);
}

@media (max-width:260px) {
    main {
        margin-top: 100px;
        flex-direction: column-reverse;
    }

    main img {
        width: 160px;
        margin-left: 150px;
    }

    .hero {
        margin-left: 0;
    }

    .hero h2 {
        font-size: 15px;
        margin-left: 80px;
    }

    .hero h5 {
        font-size: 10px;
        margin-left: 60px;
        line-height: 11.72px;
    }

    .icons01 {
        display: none;
    }
    
}


@media (min-width:261px) and (max-width:360px) {
        main {
                margin-top: 100px;
                flex-direction: column-reverse;
            }
        
            main img {
                width: 160px;
                margin-left: 120px;
            }
        
            .hero {
                margin-left: 0;
            }
        
            .hero h2 {
                font-size: 20px;
                margin-left: 90px;
            }
        
            .hero h5 {
                font-size: 14px;
                margin-left: 20px;
                line-height: 20px;
            }
        
            .icons01 {
                display: none;
            }
}

@media (min-width:361px) and (max-width:500px) {
        main {
                margin-top: 100px;
                flex-direction: column-reverse;
            }
        
            main img {
                width: 220px;
                margin-left: 150px;
            }
        
            .hero {
                margin-left: 0;
            }
        
            .hero h2 {
                font-size: 25px;
                margin-left: 140px;
            }
        
            .hero h5 {
                font-size: 15px;
                margin-left: 50px;
                line-height: 21.72px;
            }
        
            .icons01 {
                display: none;
            }
}

@media (min-width:501px) and (max-width:700px) {
            main {
                    margin-top: 100px;
                    flex-direction: column-reverse;
                }
            
                main img {
                    width: 250px;
                    margin-left: 150px;
                }
            
                .hero {
                    margin-left: 0;
                }
            
                .hero h2 {
                    font-size: 25px;
                    margin-left: 240px;
                }
            
                .hero h5 {
                    font-size: 20px;
                    margin-left: 50px;
                    line-height: 31.72px;
                }
            
                .icons01 {
                    display: none;
                }
}

@media (min-width:701px) and (max-width:900px) {
            main {
                    margin-top: 100px;
                    flex-direction: column-reverse;
                }
            
                main img {
                    width: 250px;
                    margin-left: 150px;
                }
            
                .hero {
                    margin-left: 0;
                }
            
                .hero h2 {
                    font-size: 25px;
                    margin-left: 340px;
                }
            
                .hero h5 {
                    font-size: 20px;
                    margin-left: 50px;
                    line-height: 31.72px;
                }
            
                .icons01 {
                    display: none;
                }
}


#posts {
    margin-top: 100px;
}


#head01 {
    margin-left: 120px;
    color: #F8FAFC;
    font-weight: 700;
    font-size: 28px;
    line-height: 46.25px;
}

#head01 span {
    color: var(--Blue);
}

.post {
    margin: 60px auto;
    width: 60%;
    min-height:200px ;
    background-color: #1c243066;
    display: flex;
    align-items: center;
    gap: 50px;
    padding-left: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 1px rgb(14, 21, 24);
    cursor: pointer;
}

.post:hover {
    background-color: var(--Blue);
    transition-duration: 300ms;
}

.pic img {
    width: 140px;
} 


.texts01 {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    gap: 10px;
}

.texts01 h3 {
    color: #F8FAFC;
    font-weight: 500;
    font-size: 22px;
    line-height: 25px;
}

.texts01 a {
    text-decoration: none;
    font-weight:700 ;
    font-size: 14px;
    line-height: 12.41px;
    border: 2px solid ;
    padding: 5px;
    border-radius: 20px;
}

.details h5 {
    color: #CBD5E1;
    font-weight: 400;
    font-size: 13px;
    line-height: 23.44px;
}

#color01 {
    background-color: #75f264;
}

#color02 {
    background-color: #F97316;
}

#color03 {
    background-color: #701769;
    color: black;
}

@media (max-width:260px) {
    #posts {
        margin-top: 0;
    }

    #head01 {
        margin-left: 30px;
        font-size: 20px;
        
    }

    .post {
        flex-direction: column;
        width: 90%;
        margin-top: 30px;
        gap: 20px;
        padding-top: 20px;
        min-height: 180px;
    }

    .pic img {
        width: 80px;
    }

    .texts01 {
        justify-content: center;
    }

    .texts01 h3 {
        font-size: 18px;
    }

    .texts01 a {
        font-size: 10px;
    }

    .details h5 {
        font-size: 10px;
        line-height: 15px;
    }
}

@media (min-width:261px) and (max-width:360px) {
        #posts {
                margin-top: 0;
            }
        
            #head01 {
                margin-left: 30px;
                font-size: 20px;
        
            }
        
            .post {
                flex-direction: column;
                width: 90%;
                margin-top: 30px;
                gap: 20px;
                padding-top: 20px;
                min-height: 180px;
            }
        
            .pic img {
                width: 80px;
            }
        
            .texts01 {
                justify-content: center;
            }
        
            .texts01 h3 {
                font-size: 18px;
            }
        
            .texts01 a {
                font-size: 10px;
            }
        
            .details h5 {
                font-size: 10px;
                line-height: 15px;
            }
}


@media (min-width:361px) and (max-width:500px) {
    #posts {
            margin-top: 0;
        }
    
        #head01 {
            margin-left: 30px;
            font-size: 20px;
    
        }
    
        .post {
            flex-direction: column;
            width: 90%;
            margin-top: 30px;
            gap: 20px;
            padding-top: 20px;
            min-height: 240px;
        }
    
        .pic img {
            width: 80px;
        }
    
        .texts01 {
            justify-content: center;
        }
    
        .texts01 h3 {
            font-size: 18px;
        }
    
        .texts01 a {
            font-size: 10px;
        }
    
        .details h5 {
            font-size: 10px;
            line-height: 15px;
        }
}


@media (min-width:501px) and (max-width:700px) {
        #posts {
                margin-top: 0;
            }
        
            #head01 {
                margin-left: 30px;
                font-size: 20px;
        
            }
        
            .post {
                flex-direction: column;
                width: 90%;
                margin-top: 30px;
                gap: 20px;
                padding-top: 20px;
                min-height: 240px;
            }
        
            .pic img {
                width: 80px;
            }
        
            .texts01 {
                justify-content: center;
            }
        
            .texts01 h3 {
                font-size: 18px;
            }
        
            .texts01 a {
                font-size: 10px;
            }
        
            .details h5 {
                font-size: 10px;
                line-height: 15px;
            }
}

#projects {
    margin-top: 150px;
}


#head02 {
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}

#head02 h1 {
    color: #F8FAFC;
    font-weight: 700;
    font-size: 38px;
}

#head02 h1 span {
    color: var(--Blue);
}


#head02 a {
    text-decoration: none;
    color: #F8FAFC;
    font-weight: 700;
    font-size: 15px;
    line-height: 23.44px;
}


.project {
    margin-top: 50px;
}


.pr img {
    width: 300px;
}

.project {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.details02 {
    box-shadow: 7px 7px 5px 1px rgb(14, 21, 24) ;
    background-color: #1c243066;
    width:300px;
    min-height: 150px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px ;
}

.details02 h4 {
    padding-top: 20px;
    text-align: center;
    color: #CBD5E1;
    font-weight: 700;
    font-size: 20px;
}

.details02 h5 {
    margin-top: 10px;
    text-align: center;
    color: #F8FAFC;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.7;
}

.details02 h6 {
    margin-top: 20px;
    color: #CBD5E1;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
}


@media (max-width:260px) {
    #projects {
        margin-top: 20px;
    }

    #head02 {
        margin-left: 0px;
        padding: 0px;
    }

    #head02 h1 {
        font-size: 20px;
    }

    #head02 a {
        font-size: 10px;
    }

    .project {
        flex-direction: column;
    }

    .pr img {
        width: 230px;
    }

    .details02 {
        width: 230px;
    }
}


@media (min-width:261px) and (max-width:360px) {
        #projects {
                margin-top: 20px;
            }
        
            #head02 {
                margin-left: 60px;
                padding: 0px;
            }
        
            #head02 h1 {
                font-size: 20px;
            }
        
            #head02 a {
                font-size: 10px;
                margin-right: 50px;
            }
        
            .project {
                flex-direction: column;
            }
        
            .pr img {
                width: 230px;
            }
        
            .details02 {
                width: 230px;
            }
}


@media (min-width:361px) and (max-width:500px) {
            #projects {
                    margin-top: 20px;
                }
            
                #head02 {
                    margin-left: 60px;
                    padding: 0px;
                }
            
                #head02 h1 {
                    font-size: 30px;
                }
            
                #head02 a {
                    font-size: 15px;
                    margin-right: 50px;
                }
            
                .project {
                    flex-direction: column;
                }
            
                .pr img {
                    width: 300px;
                }
            
                .details02 {
                    width: 300px;
                }
}

@media (min-width:501px) and (max-width:700px) {
            #projects {
                    margin-top: 20px;
                }
            
                #head02 {
                    margin-left: 60px;
                    padding: 0px;
                }
            
                #head02 h1 {
                    font-size: 30px;
                }
            
                #head02 a {
                    font-size: 15px;
                    margin-right: 50px;
                }
            
                .project {
                    flex-direction: column;
                }
            
                .pr img {
                    width: 300px;
                }
            
                .details02 {
                    width: 300px;
                }
}